@import 'variables';

.contact {
	padding: 0 1vw;
    min-height: 100%;
    width: 100%;
    padding: 0 1vw;
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 84px;
	max-width: 600px;
	margin: 0 auto;
	position: relative;
	section {
		text-align: center;
	}
    nav {
        .list {
            padding-left:0;
            list-style: none;
            display: flex;
            li{
                padding: 10px;		
                svg {
                    width: 32px;
                    fill: $text;
                    @media only screen and (max-width: 900px) {
                        width: 30px;
                    }
                }
            }
        }
    }
}
.bg {
		position: fixed;
		width: 200px;
	bottom: 0;
	left: 0;
	height: auto;
}
.bg2 {
	position: fixed;
	width: 200px;
	bottom: 0;
	right: 0;
	height: auto;
	@media only screen and (max-width: 900px) {
		display: none;
	}
}